# Ignore virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Model files (optional if you don’t want to push .pkl or .joblib)
*.pkl
*.joblib
*.h5

# System files
.DS_Store
Thumbs.db

# VS Code config (optional)
.vscode/

